<h1>
  <%= @company.name %>
  <% if @company.premium? %>
    <%= image_tag 'estrela.png' %>    
  <% end %>
</h1>
<p><%= @company.location %></p>
<p><%= @company.mail %></p>
<p><%= @company.phone %></p>
<p><%= link_to 'Voltar', root_path %></p>

<section class="jobs">
  <%= render(@jobs) || "Nenhuma vaga disponível" %>
</section>
